header div {
    text-align: center;
    font-family: 'Rowdies', sans-serif;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(159,124,245,1) 100%);
    font-weight: bold;
    color: #523e79;
    border: 5px #cbb1e0 double ; 
    border-radius: 50px;
    font-size: 2em;
    top: 0px;
    height: 80px;
    width: 80%;
    left:180px;
    right: 180px;
    position: fixed;
    z-index: 1;
}

header div p{
    margin: 1%;
}
.titre{
    margin: auto;
}

.titre:hover{
    background: radial-gradient(circle,rgba(159,124,245,1) 0%,  rgba(238,174,202,1) 100%);
    text-align: center;

}

.liens{
    text-decoration: none;
}

.logo:hover {
    background-color: #d3b3dd;
    text-decoration: none;
    border-radius: 50px;
}

body {
    background: rgb(238,174,202);


}


/* body { 
    padding: 20%;
    background-image: url('676790.jpg');
  test
    background-size: cover;
} */

footer {
    border-radius: 50px;

    font-weight: bold;
    background-color: rgba(159,124,245,1);
    position:fixed;
    left:180px;
    right: 180px;
    bottom:0px;
    height:5%;
    width:80%;
}

footer section {
    text-align: center;
    margin: 0.5%;
}

.container {
    display: grid;
    grid-template-columns: 455px 455px 455px;

    justify-content: center;
    opacity: 0.7;
    z-index: 0;
}

body{
    background-image: url('676790.jpg');
    background-size: cover; 
    background-attachment: fixed;
    
}

main {
    margin: 5%;
    margin-left: 14.2%;
    margin-right: 14.2%;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td, th{
    border: 1px solid black;
    padding: 15px;
}